.blue {
			background-color:blue
}
.circle{
			border-radius:50%;
			width:100px;
			height:100px;
			border-width: 1px;
			border-color: black;
			border-style: solid;
}
.red {
	background-color: red;
}